/* Global Styles */
* {
    margin: 0;
    padding: 3px;
    box-sizing: border-box;
}

body {
    background-image: url(foto3.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    margin: 2ch;
    font-family: Arial, sans-serif;
}

.img {
    border-radius: 10px;
    background-color: rgb(230, 230, 214);
    width: 50%;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    border-bottom: grey solid 2px;
}

.email {
    font-family: Arial;
    font-size: 1rem;
    margin-top: 10px;
    display: block;
    text-align: center;
}

.id {
    color: blue;
    font-size: 1rem;
    border-bottom: black 1px solid;
}

.nama {
    color: rgb(36, 33, 33);
    font-size: 2rem;
    margin-top: 10px;
    border: black solid 2px;
    border-radius: 5px;
    padding: 10px;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    margin-top: 20px;
}

.bio, .exp {
    width: 100%;
    background-color: rgba(192, 188, 188, 0.5);
    color: black;
    padding: 10px;
    margin-bottom: 10px;
}

.p1, .p3, .p4 {
    font-size: 1rem;
    text-align: justify;
    margin-top: 10px;
}

.edu, .skill {
    font-size: 1.2rem;
    font-weight: bold;
    margin-top: 1ch;
    border-bottom: 2px solid;
    color: black;
}

.bio-2, .exp-2 {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 10px;
    color: black;
    border-bottom: 2px solid;
}

/* Responsive Styles for Mobile */
@media (max-width: 768px) {
    body {
        margin: 0;
    }

    .img {
        width: 100%;
        padding: 15px;
    }

    .nama {
        font-size: 1.5rem;
        margin-top: 0;
    }

    .email, .id {
        font-size: 1rem;
        margin-top: 5px;
    }

    .content {
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        margin-top: 20px;
    }

    .bio, .exp {
        width: 100%;
        margin-top: 10px;
    }

    .p1, .p3, .p4 {
        font-size: 14px;
        width: 100%;
        margin: 0;
    }

    .edu, .skill {
        font-size: 1.2rem;
    }

    .bio-2, .exp-2 {
        font-size: 1.5rem;
    }

    img {
        max-width: 100%;
        height: auto;
    }
}
